{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black">
                    Contact
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="map-responsive">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3028.8988473880513!2d-73.91921624443444!3d40.610055352725254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24343aaf82651%3A0xc506389a908ad755!2s5100%20Kings%20Plaza%2C%20Brooklyn%2C%20NY%2011234%2C%20USA!5e0!3m2!1sen!2sde!4v1659551829286!5m2!1sen!2sde" width="600" height="450" style="border:0;" allowfullscreen loading="lazy"></iframe>
        </div>
    </div>

{% endblock %}